[submodule "vigilo/common"]
	path = vigilo/common
	url = https://github.com/vigilo/common.git
	branch = develop
[submodule "vigilo/connector"]
	path = vigilo/connector
	url = https://github.com/vigilo/connector.git
	branch = develop
[submodule "vigilo/models"]
	path = vigilo/models
	url = https://github.com/vigilo/models.git
	branch = develop
[submodule "vigilo/themes-default"]
	path = vigilo/themes-default
	url = https://github.com/vigilo/themes-default.git
	branch = develop
[submodule "vigilo/turbogears"]
	path = vigilo/turbogears
	url = https://github.com/vigilo/turbogears.git
	branch = develop
[submodule "vigilo/connector-metro"]
	path = vigilo/connector-metro
	url = https://github.com/vigilo/connector-metro.git
	branch = develop
[submodule "vigilo/connector-nagios"]
	path = vigilo/connector-nagios
	url = https://github.com/vigilo/connector-nagios.git
	branch = develop
[submodule "vigilo/connector-syncevents"]
	path = vigilo/connector-syncevents
	url = https://github.com/vigilo/connector-syncevents.git
	branch = develop
[submodule "vigilo/correlator"]
	path = vigilo/correlator
	url = https://github.com/vigilo/correlator.git
	branch = develop
[submodule "vigilo/vigiboard"]
	path = vigilo/vigiboard
	url = https://github.com/vigilo/vigiboard.git
	branch = develop
[submodule "vigilo/vigigraph"]
	path = vigilo/vigigraph
	url = https://github.com/vigilo/vigigraph.git
	branch = develop
[submodule "vigilo/vigirrd"]
	path = vigilo/vigirrd
	url = https://github.com/vigilo/vigirrd.git
	branch = develop
[submodule "vigilo/vigiconf"]
	path = vigilo/vigiconf
	url = https://github.com/vigilo/vigiconf.git
	branch = develop
[submodule "vigilo/vigiconf-local"]
	path = vigilo/vigiconf-local
	url = https://github.com/vigilo/vigiconf-local.git
	branch = develop
